version: "3.9"

services:
  server:
    build:
      context: . 
      dockerfile: Server/Dockerfile
    container_name: servidor
    environment:
      - SERVER_HOSTNAME=0.0.0.0
      - SERVER_PORT=5000
      - RECEIVE_DIRECTORY=/app/ServerImages
    volumes:
      - ./Server/ServerImages:/app/ServerImages
    ports:
      - "5000:5000"
    networks:
      - obligatorio_default

  cliente:
    build:
      context: .
      dockerfile: Client/Dockerfile
    container_name: cliente
    environment:
      - SERVER_HOSTNAME=server
      - SERVER_PORT=5000
      - CLIENT_HOSTNAME=client
      - CLIENT_PORT=0
    stdin_open: true
    tty: true
    networks:
      - obligatorio_default
    depends_on:
      - server
    volumes:
      - ./ClienteImages:/app/ClienteImages

networks:
  obligatorio_default:
    driver: bridge
