# version: "3.9"

services:
  rabbitmq:
    image: rabbitmq:4-management
    container_name: rabbitmq
    ports:
      - "5672:5672"   # AMQP
      - "15672:15672" # UI http://localhost:15672
    environment:
      RABBITMQ_DEFAULT_USER: app
      RABBITMQ_DEFAULT_PASS: app
    networks:
      - obligatorio_default
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 5s
      timeout: 10s
      retries: 5

  logs-consumer:
    build:
      context: .
      dockerfile: LogsConsumer/Dockerfile
    container_name: logs-consumer
    environment:
      - RABBIT_HOST=rabbitmq
      - RABBIT_USER=app
      - RABBIT_PASS=app
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - obligatorio_default
    stdin_open: true     # <-- mantiene STDIN abierto
    tty: true
    ports:
      - "8081:8080"

  server:
    build:
      context: .
      dockerfile: Server/Dockerfile
    container_name: servidor
    environment:
      - SERVER_HOSTNAME=0.0.0.0
      - SERVER_PORT=5000
      - RECEIVE_DIRECTORY=/app/publish/ServerImages
      # RabbitMQ (para LogPublisher)
      - RABBIT_HOST=rabbitmq
      - RABBIT_USER=app
      - RABBIT_PASS=app
    stdin_open: true
    tty: true
    volumes:
      - ./Server/ServerImages:/app/publish/ServerImages
    ports:
      - "5000:5000"
    networks:
      - obligatorio_default
    depends_on:
      rabbitmq:
        condition: service_healthy

  cliente:
    build:
      context: .
      dockerfile: Client/Dockerfile
    container_name: cliente
    environment:
      - SERVER_HOSTNAME=server
      - SERVER_PORT=5000
      - CLIENT_HOSTNAME=client
      - CLIENT_PORT=0
      # (el cliente no usa RabbitMQ por ahora)
    stdin_open: true
    tty: true
    networks:
      - obligatorio_default
    depends_on:
      - server
    volumes:
      - ./ClienteImages:/app/ClienteImages

# (opcional) consumer de logs simple si lo agregas:
#  logs-consumer:
#    build:
#      context: .
#      dockerfile: LogsConsumer/Dockerfile
#    environment:
#      - RABBIT_HOST=rabbitmq
#      - RABBIT_USER=app
#      - RABBIT_PASS=app
#    depends_on:
#      - rabbitmq
#    networks:
#      - obligatorio_default

networks:
  obligatorio_default:
    driver: bridge
