# version: "3.9"

services:
  authgrpc:
    build:
      context: .
      dockerfile: AuthGrpc/Dockerfile
    container_name: authgrpc
    environment:
      - ASPNETCORE_URLS=http://0.0.0.0:5191
      - AUTH_SERVER_HOST=server
      - AUTH_SERVER_PORT=5000
    ports:
      - "5191:5191"
    depends_on:
      - server
    networks:
      - obligatorio_default

  chatserver:
    build:
      context: .
      dockerfile: ChatServer/Dockerfile
    container_name: chatserver
    environment:
      - AUTH_GRPC_URL=http://authgrpc:5191
    depends_on:
      - authgrpc
    ports:
      - "8080:8080"
    networks:
      - obligatorio_default

  chatclient:
    build:
      context: .
      dockerfile: ChatClient/Dockerfile
    container_name: chatclient
    stdin_open: true
    tty: true
    environment:
      AUTH_GRPC_URL: http://authgrpc:5191
      CHAT_WS_URL: ws://chatserver:8080/ws
    depends_on:
      - chatserver
    networks:
      - obligatorio_default

  rabbitmq:
    image: rabbitmq:4-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: app
      RABBITMQ_DEFAULT_PASS: app
    networks:
      - obligatorio_default
    healthcheck:
      test: [ "CMD", "rabbitmq-diagnostics", "-q", "ping" ]
      interval: 5s
      timeout: 10s
      retries: 5

  logs-consumer:
    build:
      context: .
      dockerfile: LogsConsumer/Dockerfile
    container_name: logs-consumer
    environment:
      - RABBIT_HOST=rabbitmq
      - RABBIT_USER=app
      - RABBIT_PASS=app
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - obligatorio_default
    stdin_open: true
    tty: true
    ports:
      - "8081:8080"

  server:
    build:
      context: .
      dockerfile: Server/Dockerfile
    container_name: servidor
    environment:
      - SERVER_HOSTNAME=0.0.0.0
      - SERVER_PORT=5000
      - RECEIVE_DIRECTORY=/app/publish/ServerImages
      - RABBIT_HOST=rabbitmq
      - RABBIT_USER=app
      - RABBIT_PASS=app
      - TZ=America/Montevideo
    stdin_open: true
    tty: true
    volumes:
      - ./Server/ServerImages:/app/publish/ServerImages
    ports:
      - "5000:5000"
    networks:
      - obligatorio_default
    depends_on:
      rabbitmq:
        condition: service_healthy

  cliente:
    build:
      context: .
      dockerfile: Client/Dockerfile
    container_name: cliente
    environment:
      - SERVER_HOSTNAME=server
      - SERVER_PORT=5000
      - CLIENT_HOSTNAME=client
      - CLIENT_PORT=0
      - TZ=America/Montevideo
    stdin_open: true
    tty: true
    networks:
      - obligatorio_default
    depends_on:
      - server
    volumes:
      - ./ClienteImages:/app/ClienteImages

networks:
  obligatorio_default:
    driver: bridge
